.projects-grid {
  display: flex;
  flex-direction: row; /* Arrange projects in a row */
  overflow-x: auto; /* Enable horizontal scrolling */
  max-width: 100vw; /* Use full width */
  scroll-snap-type: x mandatory; /* Enable smooth snap scrolling */
  gap: 50px;
  padding: 35px;
  max-width: 75vw;
  white-space: nowrap;
}

/* Hide scrollbar for all browsers */
.projects-grid::-webkit-scrollbar {
  display: none;
}

.projects-grid {
  -ms-overflow-style: none; /* Hide scrollbar for IE & Edge */
  scrollbar-width: none; /* Hide scrollbar for Firefox */
}

/* Ensure only one project is fully visible at a time */
.project-box {
  flex: 0 0 100%; /* Ensure full width */
  scroll-snap-align: start; /* Snap effect when scrolling */
  width: 350px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  background:#181818;
  padding: 15px;
  text-align: center;
}

/* Project image styling */
.project-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
}

/* Project content */
.project-content {
  margin-top: 10px;
}

.project-content h2 {
  font-family: Coolvetica;
  letter-spacing: 2px;
  color:#ec6e76;
  font-size: 18px;
  margin-bottom: 5px;
}

.project-content p {
  
  font-size: 14px;
  color: #843333;
}

/* Media Query: Adjust styles for screens below 576px */
@media (max-width: 576px) {
  .projects-grid {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    overflow-y: auto; /* Enable vertical scrolling */
    scroll-snap-type: y mandatory;
    max-height: 250px; /* Adjust to fit above </body> */
    width: 100%;
  }
  .project-image {
    width: 100%;
    height: 100px;
    object-fit: cover;
    border-radius: 8px;
  }
  .project-box {
    width: 215px;
    height: 20px;
    background: #181818;
    border-radius: 10px;
    padding: 18px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    scroll-snap-align: start;
  }
  .project-content h2 {
    font-family: Coolvetica;
    letter-spacing: 2px;
    color:#ec6e76;
    font-size: 15px;
    margin-bottom: 5px;
  }

}  

@media (max-width: 400px) {
  .projects-grid {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    overflow-y: auto; /* Enable vertical scrolling */
    scroll-snap-type: y mandatory;
    max-height: 250px; /* Adjust to fit above </body> */
    width: 100%;
  }
  .project-image {
    width: 100%;
    height: 100px;
    object-fit: cover;
    border-radius: 8px;
  }
  .project-box {
    width: 200px;
    height: 20px;
    background: #181818;
    border-radius: 10px;
    padding: 12px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    scroll-snap-align: start;
  }
  .project-content h2 {
    font-family: Coolvetica;
    letter-spacing: 2px;
    color:#ec6e76;
    font-size: 15px;
    margin-bottom: 5px;
  }

}  