.home-page {
  .text-zone {
    position: absolute;
    left: 10%;
    top: 50%;
    transform: translateY(-50%);
    width: 40%;
    max-height: 90%;

    h1 {
      color: #fff;
      font-size: 60px;
      line-height: 63px;
      margin: 0;
      font-family: 'Coolvetica';
      font-weight: 400;
      letter-spacing: 2px;

      &:before {
        content: '<h1>';
        font-family: 'La Belle Aurore', cursive;
        color: #7ABFEE;
        font-size: 22px;
        font-weight: bold;
        position: absolute;
        margin-top: -40px;
        left: -15px;
        opacity: 0.9;
      }

      &:after {
        content: '<h1/>';
        font-family: 'La Belle Aurore', cursive;
        color: #7ABFEE;
        font-size: 22px;
        font-weight: bold;
        position: absolute;
        margin-top: 18px;
        margin-left: 20px;
        animation: fadeIn 1s 1.7s backwards;
        opacity: 0.9;
      }
    }

    img {
      margin-left: 20px;
      opacity: 0;
      width: 45px;
      height: auto;
      animation: rotateIn 1s linear both;
      animation-delay: 1.4s;
      user-select: none;
    }
  }

  h2 {
    color:  #ec6e76;
    margin-top: 20px;
    font-weight: bold;
    font-size: 18px;
    font-family: sans-serif;
    letter-spacing: 1.5px;
    animation: fadeIn 1s 1.8s backwards;
  }

  .flat-button {
    color:  #ec6e76;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 2px;
    font-family: 'Coolvetica';
    text-decoration: none;
    padding: 10px 18px;
    border: 1px solid #7ABFEE;
    margin-top: 25px;
    float: left;
    animation: fadeInAnimation 0.2s 1.8s backwards;
    white-space: nowrap;
    border-radius: 25px;

    &:hover {
      background: #7ABFEE;
      font-weight: bold;
      color:  #ec6e76;
    }
  }

  .selectDisable {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
  }
}

